* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#moon {
  animation: moon 3s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes moon {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#man {
  animation: man 1s ease-in-out infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes man {
  from {
    transform: rotatex(0deg);
  }
  to {
    transform: rotatex(15deg);
  }
}
#roll-1 {
  animation: moon 3s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes moon {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.bg- {
  background-color: #ffffff;
}

.img {
  position: absolute;
  height: 60%;
  top: 70%;
  left: 10%;
  transform: translate(-10%, -70%);
}
.bg-img {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 80%;
  z-index: -2;
}
.text {
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  width: 50%;
  margin-left: 70%;
  text-transform: capitalize;
}
.custom-toggler.navbar-toggler {
  border-color: lightgreen;
}

.navbar-toggler {
  color: #000000;
}
@media only screen and (max-width: 760px) {
  .img {
    top: 48%;
    left: 16%;
    width: 100%;
  }
  .w-50 {
    width: 82% !important;
  }

  .text {
    width: 100%;
    margin-left: 0%;
    font-size: 12px;
  }
  .title {
    font-size: 18px;
  }
  .banner {
    background-color: #e5e5e5;
    height: 93vh;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 2100px;
  }
}
